body{
    margin: 0;
    padding: 0;
}

.wrap{
    background-color: red;
}

.contact{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.phoneemail{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.phoneemail span{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.socialmedia a{
    margin-right: 15px;
    color: white;
    font-size: 15px;
}

.container{
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 70%;
    padding: 30px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: red;
    opacity: 0.7;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 15px;
}

.nav a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

.nav ul li a:hover{
    color: red;
}

.nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: -47px;
}

.nav ul li:hover::after{
    width: 100%;
}

.nav .active::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: -47px;
}

.backgroundimg{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('./images/background.webp');
    max-height: 800px;
    height: 800px;
    background-attachment: fixed;
    background-position: 50% 0%;
}

.section{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.section2{
   color: white;
}
.section2 h4{
    font-size: 25px;
}

.section2 h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
    width: 90%;
}

.section2 a{
    padding: 16px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.section2 .first{
    color: white;
    background-color: #fd7792;
    border: 1px solid #fd7792;
}

.section2 .second{
    color: gray;
    background-color: #fff;
    border: 1px solid #fff;
}

.section2 .first:hover{
    background-color: transparent;
    color: #fd7792;
}

.section2 .first:active{
    background-color: blue;
    border: 1px solid blue;
    color: white;
}

.section2 .second:hover{
    background-color: transparent;
    color:#fff
}

.contactform{
    height: 60%;
    width: 40%;
    box-sizing: border-box;
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
}

.contactform h1{
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contactform input{
    border: none;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
}
.contactform select{
    border: none;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
}

.contactform button{
    padding: 15px;
    border: 1px solid #fd7792;
    background-color: #fd7792;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.contactform button:hover{
    background-color: transparent;
    color: #fd7792;
}

.contactform .fullname{
    grid-column-start: 1;
    grid-column-end: 3;
}

.contactform .bookapartment{
    grid-column-start: 1;
    grid-column-end: 3;
}

.article{
    display: flex;
}

.articlerow{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
}

.articlerow img{
    width: 350px;
}

.articlerow .row1 {
    padding: 20px 20px 50px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px solid white;
    width: 350px;
    text-align: center;
    position: relative;
    top: -110px;
    background-color: white;
}

.articlerow .row2 {
    padding: 20px 20px 50px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px solid white;
    width: 350px;
    text-align: center;
    position: relative;
    top: -110px;
    background-color: white;
}

.articlerow .row3 {
    padding: 20px 20px 50px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px solid white;
    width: 350px;
    text-align: center;
    position: relative;
    top: -110px;
    background-color: white;
}

.article h1{
    font-weight: 100;
    font-size: 30px;
}

.article p{
    font-weight: 200;
    font-size: 18px;
    opacity: 0.6;
    line-height: 1.5;
    margin-bottom: 30px;
}

.article a{
    padding: 16px;
    background-color: #fd7792;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: 1px solid #fd7792;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    transition: 0.5s;
}

.article a:hover{
    background-color: transparent;
    color: #fd7792;
}
